{% for member in series.members.all %}
  <li>
    {{ member.transaction.transaction_date }} {{ member.transaction.description }}
    {% include "finance/_amount.html" with value=member.transaction.amount_display tone="" %}
    <form method="post" class="inline">
      {% csrf_token %}
      <input type="hidden" name="series_id" value="{{ series.pk }}">
      <input type="hidden" name="transaction_id" value="{{ member.transaction_id }}">
      <input type="hidden" name="action" value="remove">
      <button type="submit" class="btn btn-xs btn-ghost">Remove from series</button>
    </form>
  </li>
{% endfor %}
